.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #2a2a2b;
  color: #ffd000;
}

h1 {
  margin: 30px;
  font-family: 'Arial Black', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  
}

p {
  font-size: 2rem;
  
  font-family: 'Arial Black', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Arial Black', cursive;

}

.restart-btn{
 background: #ffd000;
 border:  none ;
 border-radius: 5rem;
 font-size: 2rem;
 font-weight: bold;
 font-family: 'Arial Black', cursive;
  cursor: pointer;
  padding: 1rem;
}

.restart-btn:hover{
  box-shadow: inset;
  text-decoration: underline;
 }